<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Student List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">  
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}">

    </script> 
</head>
<body>
  <div class="row">
    <div class="col-md-6">
      <a href="/student/add" class="btn btn-sm btn-primary float-right mt-2">Add</a>
    </div>
  </div>
  <h2>Student Records</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Roll No</th>
            <th scope="col">Gender</th>
            <th scope="col">Faculty</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for student in  students %}
            <tr>
              <td>{{student.student_id}}</td>
              <td>{{student.student_name}}</td>
              <td>{{student.roll_no}}</td>
              <td>{{student.gender}}</td>
              <td>{{student.faculty}}</td>
              <td><a href="/student/edit/{{student.student_id}}">Edit</a></td>
              <td><a href="/student/delete/{{student.student_id}}">Del</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
</body>
</html>